# Project-2
## Tanvir Khan, Nicky Pant, Paul Pineda, James Ye, Fabienne Zumbuehl
### Load CSV Files into Postgres database (StocksDataBase)

In [1]:
import pandas as pd
#from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
from sqlalchemy import create_engine
import psycopg2
import glob

In [2]:
# Creating connection with database
# StocksDataBase is database name for this project
connection_string = "postgres:postgres@localhost:5432/StocksDataBase"
engine = create_engine(f'postgresql://{connection_string}')

In [3]:
# Confirm tables
engine.table_names()

['company', 'price']

# Load company.xlsx file

In [4]:
company_df = pd.read_excel("data/company.xlsx");
company_df.head()

,ranking,name,ticker,mkt_cap,pe_ratio,eps,dividend_pct,exchange,esg_score,recom_rating,sector,industry,country,city,latitude,longitude
0,1,Walmart,WMT,339.211,22.78,5.26,1.81,NYSE,29.0,1.9,Consumer Defensive,Discount Stores,USA,Bentonville,36.365265,-94.219827
1,2,Sinopec Group,SHI,4.377,2.54,9.40,7.08,NYSE,NaN,4.0,Energy,Oil & Gas Refining & Marketing,China,Peking,30.711817,121.329752
2,3,Royal Dutch Shell,RDS.A,121.519,13.36,2.45,3.83,NYSE,NaN,2.4,Energy,Oil & Gas Integrated,Netherlands,The Hague,52.093801,4.310453
3,4,China National Petroleum,SNP,62.697,4.61,9.10,10.27,NYSE,NaN,2.0,Energy,Oil & Gas Integrated,China,Peking,39.957500,115.937337
4,6,Saudi Aramco,2222.SR,7146.000,20.90,1.55,1.19,Tadawul,NaN,NaN,Energy,Oil & Gas Integrated,Saudi Arabia,Dhahran,26.227210,49.482172

In [5]:
# rerange column position to match database table columns
company_df = company_df[["ticker","name", "ranking", "mkt_cap", "pe_ratio", "eps", "dividend_pct", "exchange", "esg_score", "recom_rating", "sector", "industry", "country", "city", "latitude", "longitude"]]
company_df.head()

,ticker,name,ranking,mkt_cap,pe_ratio,eps,dividend_pct,exchange,esg_score,recom_rating,sector,industry,country,city,latitude,longitude
0,WMT,Walmart,1,339.211,22.78,5.26,1.81,NYSE,29.0,1.9,Consumer Defensive,Discount Stores,USA,Bentonville,36.365265,-94.219827
1,SHI,Sinopec Group,2,4.377,2.54,9.40,7.08,NYSE,NaN,4.0,Energy,Oil & Gas Refining & Marketing,China,Peking,30.711817,121.329752
2,RDS.A,Royal Dutch Shell,3,121.519,13.36,2.45,3.83,NYSE,NaN,2.4,Energy,Oil & Gas Integrated,Netherlands,The Hague,52.093801,4.310453
3,SNP,China National Petroleum,4,62.697,4.61,9.10,10.27,NYSE,NaN,2.0,Energy,Oil & Gas Integrated,China,Peking,39.957500,115.937337
4,2222.SR,Saudi Aramco,6,7146.000,20.90,1.55,1.19,Tadawul,NaN,NaN,Energy,Oil & Gas Integrated,Saudi Arabia,Dhahran,26.227210,49.482172

In [6]:
# remove old company data
engine.execute("delete from company")

# load company dataframe into database
company_df.to_sql(name='company', con=engine, if_exists='append', chunksize = 20, index=False)
company_df2 = pd.read_sql("select * from company", con=engine)
company_df2.count()

ticker          172
name            172
ranking         172
mkt_cap         171
pe_ratio        144
eps             126
dividend_pct    142
exchange        171
esg_score       101
recom_rating    115
sector          171
industry        171
country         171
city            171
latitude        171
longitude       171
dtype: int64

## Load price csv files

In [7]:
priceCSVFiles = glob.glob("data/*.csv")
priceCSVFiles

['data\\066570.KS.csv',
 'data\\600104.SS.csv',
 'data\\601100.SS.csv',
 'data\\ACGBY.csv',
 'data\\ALIZF.csv',
 'data\\AMX.csv',
 'data\\AXAHF.csv',
 'data\\BABA.csv',
 'data\\BAC.csv',
 'data\\BACHY.csv',
 'data\\BAM.csv',
 'data\\BMWYY.csv',
 'data\\BUD.csv',
 'data\\CAH.csv',
 'data\\CAT.csv',
 'data\\CHDRF.csv',
 'data\\CHL.csv',
 'data\\CHPXF.csv',
 'data\\CICHF.csv',
 'data\\CIHKY.csv',
 'data\\COST.csv',
 'data\\CRWOY.csv',
 'data\\CWYCF.csv',
 'data\\FNMA.csv',
 'data\\GE.csv',
 'data\\GM.csv',
 'data\\GOOG.csv',
 'data\\HMC.csv',
 'data\\ITUB.csv',
 'data\\JPHLF.csv',
 'data\\JPM.csv',
 'data\\KEP.csv',
 'data\\KR.csv',
 'data\\LFC.csv',
 'data\\LMT.csv',
 'data\\LUKOY.csv',
 'data\\MSBHY.csv',
 'data\\MSFT.csv',
 'data\\OGZPY.csv',
 'data\\PFE.csv',
 'data\\PSX.csv',
 'data\\RWEOY.csv',
 'data\\SCGLY.csv',
 'data\\VLO.csv',
 'data\\VZ.csv',
 'data\\WBA.csv',
 'data\\WFAFY.csv']

In [8]:
# remove old price data
engine.execute("delete from price")

# loop through all data/*.csv files and load them into price table
for file in priceCSVFiles:
    file = file.strip()
    
    print(file)
    price_df = pd.read_csv(file)
    print(price_df.head())
    csv_file = file.split('\\')[1]
    
    # ignore company.csv, we will handle it differetly
    if csv_file == "company.csv":
        continue

    ticker = csv_file.strip('.csv')
    price_df["ticker"] = ticker
    print(ticker)
    
    # rename column heading to match database table columns
    price_df.rename(columns = {"Date":"date", "Open":"open", "High":"high", "Low":"low", "Close":"close", "Adj Close":"adj_close", "Volume":"volume"}, inplace=True)
    # make ticker as the first column
    price_df = price_df[["ticker", "date", "open", "high", "low", "close", "adj_close", "volume"]]
    
    # load dataframe into database
    try:
        price_df.to_sql(name='price', con=engine, if_exists='append', chunksize = 20, index=False)
    except Exception as e:
        print(e)

# check out the price table
price_df2 = pd.read_sql("select * from price", con=engine)
price_df2.count()

data\066570.KS.csv
         Date     Open     High      Low    Close     Adj Close    Volume
0  2015-07-01  47200.0  48150.0  46900.0  47800.0  46297.730469  680372.0
1  2015-07-02  48200.0  48600.0  47900.0  48100.0  46588.300781  722630.0
2  2015-07-03  48250.0  48450.0  47400.0  47650.0  46152.437500  521621.0
3  2015-07-06  46750.0  46850.0  46000.0  46050.0  44602.730469  899759.0
4  2015-07-07  46350.0  46550.0  45700.0  46550.0  45087.015625  888051.0
066570.KS
data\600104.SS.csv
         Date       Open       High        Low      Close  Adj Close  \
0  2015-07-01  22.100000  22.580000  21.450001  21.620001  15.566809
1  2015-07-02  21.790001  22.110001  20.600000  21.150000  15.228400
2  2015-07-03  21.250000  21.510000  19.580000  20.260000  14.587584
3  2015-07-06  22.250000  22.260000  21.320000  21.900000  15.768413
4  2015-07-07  21.790001  23.139999  21.420000  23.080000  16.618038

      Volume
0   91470020
1   90836062
2   98059183
3  226156959
4  214754387
600104.SS
data\601100.SS.csv
         Date     Open     High      Low    Close  Adj Close    Volume
0  2015-07-01  12.8571  14.2857  12.7571  13.5857  13.028162  20051773
1  2015-07-02  13.6857  13.9643  12.2286  12.3857  11.877408  15072341
2  2015-07-03  11.4286  12.7143  11.1500  11.1500  10.692419  13116811
3  2015-07-06  12.2643  12.2643  10.0357  10.0357   9.623848  18059809
4  2015-07-07  10.0357  10.0357  10.0357  10.0357   9.623848         0
601100.SS
data\ACGBY.csv
         Date   Open   High    Low  Close  Adj Close  Volume
0  2015-07-01  12.98  13.01  12.56  12.56   9.268293   90000
1  2015-07-02  12.67  12.67  12.60  12.65   9.334706    5000
2  2015-07-06  12.18  12.48  12.18  12.34   9.105951    8800
3  2015-07-07  11.98  12.07  11.76  12.07   8.906713    7800
4  2015-07-08  11.77  11.77  11.33  11.33   8.360650   22700
ACGBY
data\ALIZF.csv
         Date        Open        High         Low       Close   Adj Close  \
0  2015-07-01  158.000000  158.429993  158.000000  158.429993  119.631386
1  2015-07-02  157.850006  157.850006  157.850006  157.850006  119.193420
2  2015-07-06  157.850006  157.850006  157.850006  157.850006  119.193420
3  2015-07-07  151.350006  151.350006  151.350006  151.350006  114.285240
4  2015-07-08  151.350006  151.350006  151.350006  151.350006  114.285240

   Volume
0     300
1    2100
2       0
3     100
4       0
ALIZF
data\AMX.csv
         Date       Open   High    Low      Close  Adj Close   Volume
0  2015-07-01  21.240000  21.34  20.65  20.650000  18.001150  4078900
1  2015-07-02  20.799999  21.35  20.73  21.090000  18.384708  3947700
2  2015-07-06  20.799999  20.93  20.65  20.680000  18.027306  2832500
3  2015-07-07  20.430000  21.18  20.43  21.110001  18.402142  4072200
4  2015-07-08  20.709999  21.07  20.49  20.549999  17.913975  8949500
AMX
data\AXAHF.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-07-01  25.320000  25.440001  25.209999  25.209999  19.151386    2600
1  2015-07-02  25.070000  25.070000  25.000000  25.000000  18.991856    2400
2  2015-07-06  23.889999  24.219999  23.850000  23.850000  18.118231    3000
3  2015-07-07  23.139999  23.879999  23.139999  23.879999  18.141020    2200
4  2015-07-08  23.600000  23.600000  23.600000  23.600000  17.928312    2900
AXAHF
data\BABA.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  82.599998  83.000000  81.989998  82.459999  82.459999   5950000
1  2015-07-02  82.120003  82.320000  81.779999  82.070000  82.070000   6760200
2  2015-07-06  80.559998  81.500000  80.120003  80.230003  80.230003  11864200
3  2015-07-07  79.449997  79.790001  76.209999  79.620003  79.620003  34221700
4  2015-07-08  76.580002  78.790001  76.220001  77.940002  77.940002  22714900
BABA
data\BAC.csv
         Date       Open       High        Low      Close  Adj Close  \
0  2015-07-01  17.250000  17.309999  17.090000  17.219999  15.718122
1  2015-07-02  17.160000  17.209999  16.889999  17.030001  15.544689
2  2015-07-06  16.780001  17.010000  16.709999  16.940001  15.462540
3  2015-07-07  16.900000  16.930000  16.340000  16.690001  15.234343
4  2015-07-08  16.420000  16.500000  16.219999  16.250000  14.832716

      Volume
0   62317400
1   64736500
2   58726900
3  115450500
4   83033000
BAC
data\BACHY.csv
         Date       Open   High    Low      Close  Adj Close  Volume
0  2015-07-01  16.129999  16.16  16.01  16.049999  12.605859   94000
1  2015-07-02  16.270000  16.32  16.16  16.160000  12.692255   25500
2  2015-07-06  15.550000  15.58  15.41  15.430000  12.118905   74400
3  2015-07-07  15.070000  15.08  14.39  14.810000  11.631949  122700
4  2015-07-08  13.630000  14.02  13.50  13.650000  10.720871  155200
BACHY
data\BAM.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  23.116798  23.228346  22.998688  23.123360  21.250904   912300
1  2015-07-02  22.992126  23.280840  22.919947  23.221785  21.341354  1425800
2  2015-07-06  22.703413  23.497375  22.559055  23.353018  21.461964  1632900
3  2015-07-07  23.307087  23.523623  23.005249  23.484251  21.582571  1157000
4  2015-07-08  23.320210  23.398951  22.860893  22.939632  21.082048  1558400
BAM
data\BMWYY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-07-01  37.259998  37.490002  36.799999  37.000000  29.493523   35400
1  2015-07-02  36.869999  36.869999  36.450001  36.720001  29.270332   29000
2  2015-07-06  35.759998  36.209999  35.439999  35.680000  28.441324   51300
3  2015-07-07  34.540001  35.330002  34.080002  35.330002  28.162334  108800
4  2015-07-08  33.919998  34.060001  33.639999  33.869999  26.998528   70600
BMWYY
data\BUD.csv
         Date        Open        High         Low       Close   Adj Close  \
0  2015-07-01  122.970001  123.330002  121.709999  122.559998  105.132828
1  2015-07-02  121.900002  122.129997  121.199997  121.959999  104.618149
2  2015-07-06  117.949997  119.339996  117.660004  118.410004  101.572945
3  2015-07-07  117.379997  119.489998  115.949997  119.400002  102.422165
4  2015-07-08  119.470001  119.589996  118.320000  118.629997  101.761650

    Volume
0  1162000
1   698400
2  2195900
3  2344700
4   828000
BUD
data\CAH.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  84.290001  85.129997  84.180000  84.949997  71.855652  3395000
1  2015-07-02  85.250000  85.459999  84.139999  84.500000  71.475014  1556800
2  2015-07-06  83.690002  84.879997  83.629997  84.540001  71.508835  2679300
3  2015-07-07  84.760002  85.349998  83.800003  85.000000  71.897949  2312300
4  2015-07-08  84.500000  85.190002  83.290001  83.400002  70.544563  2597100
CAH
data\CAT.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  85.389999  85.449997  83.540001  83.949997  70.850868  5296200
1  2015-07-02  84.529999  84.779999  83.849998  84.379997  71.213791  2582200
2  2015-07-06  83.650002  84.150002  82.730003  83.150002  70.175713  4896600
3  2015-07-07  82.989998  84.120003  81.849998  83.989998  70.884651  5192000
4  2015-07-08  83.050003  83.230003  81.760002  82.269997  69.433006  4325100
CAT
data\CHDRF.csv
         Date   Open   High    Low  Close   Adj Close  Volume
0  2015-07-01  203.0  203.0  203.0  203.0  178.806915       0
1  2015-07-02  203.0  203.0  203.0  203.0  178.806915       0
2  2015-07-06  203.0  203.0  203.0  203.0  178.806915       0
3  2015-07-07  203.0  203.0  203.0  203.0  178.806915       0
4  2015-07-08  203.0  203.0  203.0  203.0  178.806915       0
CHDRF
data\CHL.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  64.070000  64.209999  63.740002  63.900002  51.348385   540500
1  2015-07-02  64.629997  65.370003  64.610001  64.669998  51.967140   572200
2  2015-07-06  62.689999  62.959999  62.250000  62.660000  50.351955   905100
3  2015-07-07  61.619999  61.650002  59.779999  61.000000  49.018017  1642500
4  2015-07-08  58.080002  58.990002  57.540001  57.720001  46.382294  1715600
CHL
data\CHPXF.csv
         Date  Open  High   Low  Close  Adj Close  Volume
0  2015-07-01  5.29  5.29  5.29   5.29   2.067561       0
1  2015-07-02  5.29  5.29  5.29   5.29   2.067561       0
2  2015-07-06  5.29  5.29  5.29   5.29   2.067561       0
3  2015-07-07  5.29  5.29  5.29   5.29   2.067561       0
4  2015-07-08  5.29  5.29  5.29   5.29   2.067561       0
CHPXF

data\CICHF.csv
         Date  Open  High   Low  Close  Adj Close  Volume
0  2015-07-01  0.90  0.90  0.90   0.90   0.467748    1000
1  2015-07-02  0.90  0.90  0.90   0.90   0.467748       0
2  2015-07-06  0.87  0.88  0.87   0.88   0.457354    2500
3  2015-07-07  0.87  0.88  0.86   0.86   0.446959  598300
4  2015-07-08  0.83  0.83  0.83   0.83   0.431368   15500
CICHF
data\CIHKY.csv
         Date   Open   High    Low  Close  Adj Close  Volume
0  2015-07-01  14.48  14.68  14.24  14.68  12.174124    3200
1  2015-07-02  14.63  14.63  14.51  14.51  12.033143    1500
2  2015-07-06  13.97  14.19  13.90  13.90  11.527269    4200
3  2015-07-07  13.29  13.34  13.00  13.34  11.062862    9900
4  2015-07-08  12.43  12.58  12.05  12.05   9.993065    9200
CIHKY
data\COST.csv
         Date        Open        High         Low       Close   Adj Close  \
0  2015-07-01  135.789993  136.570007  135.539993  136.490005  124.404877
1  2015-07-02  137.000000  137.199997  136.279999  136.389999  124.313690
2  2015-07-06  135.149994  136.839996  135.059998  135.880005  123.848839
3  2015-07-07  136.300003  140.869995  136.029999  140.500000  128.059814
4  2015-07-08  139.979996  140.529999  139.270004  139.899994  127.512924

    Volume
0  1707000
1  1148400
2  2450400
3  3790000
4  2917100
COST
data\CRWOY.csv
         Date   Open   High    Low  Close  Adj Close  Volume
0  2015-07-01  27.35  27.35  27.35  27.35  25.200098     400
1  2015-07-02  27.35  27.35  27.35  27.35  25.200098       0
2  2015-07-06  27.35  27.35  27.35  27.35  25.200098       0
3  2015-07-07  27.35  27.35  27.35  27.35  25.200098       0
4  2015-07-08  20.10  20.10  20.10  20.10  18.519999     500
CRWOY
data\CWYCF.csv
         Date  Open  High   Low  Close  Adj Close  Volume
0  2015-07-01  1.52  1.52  1.52   1.52   1.386085       0
1  2015-07-02  1.52  1.52  1.52   1.52   1.386085       0
2  2015-07-06  1.52  1.52  1.52   1.52   1.386085    2000
3  2015-07-07  1.52  1.52  1.52   1.52   1.386085   45000
4  2015-07-08  1.15  1.15  1.15   1.15   1.048683    5000
CWYCF
data\FNMA.csv
         Date  Open  High   Low  Close  Adj Close   Volume
0  2015-07-01  2.34  2.42  2.31   2.31       2.31  5585900
1  2015-07-02  2.32  2.34  2.28   2.30       2.30  1837700
2  2015-07-06  2.29  2.30  2.20   2.22       2.22  3928900
3  2015-07-07  2.19  2.23  2.07   2.19       2.19  6922800
4  2015-07-08  2.15  2.16  2.10   2.13       2.13  2835700
FNMA
data\GE.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  25.644230  25.836538  25.451923  25.634615  22.499014  31644400
1  2015-07-02  25.673077  25.798077  25.576923  25.750000  22.600285  27042300
2  2015-07-06  25.509615  25.615385  25.192308  25.298077  22.203640  28972400
3  2015-07-07  25.365385  25.528847  24.932692  25.451923  22.338669  33952900
4  2015-07-08  25.086538  25.230770  24.884615  24.894230  21.849194  33311900
GE
data\GM.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  33.610001  33.610001  32.680000  33.040001  26.657364  16169500
1  2015-07-02  33.189999  33.450001  33.060001  33.230000  26.810654   8646400
2  2015-07-06  32.849998  33.119999  32.610001  32.650002  26.342701  10433100
3  2015-07-07  32.619999  32.950001  32.009998  32.860001  26.512136  18589300
4  2015-07-08  32.389999  32.410000  30.940001  31.190001  25.164743  29971400
GM
data\GOOG.csv
         Date        Open        High         Low       Close   Adj Close  \
0  2015-07-01  524.729980  525.690002  518.229980  521.840027  521.840027
1  2015-07-02  521.080017  524.650024  521.080017  523.400024  523.400024
2  2015-07-06  519.500000  525.250000  519.000000  522.859985  522.859985
3  2015-07-07  523.130005  526.179993  515.179993  525.020020  525.020020
4  2015-07-08  521.049988  522.734009  516.109985  516.830017  516.830017

    Volume
0  1961000
1  1235900
2  1280500
3  1597200
4  1296700
GOOG
data\HMC.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-07-01  32.070000  32.099998  31.820000  31.879999  27.232204  413600
1  2015-07-02  32.630001  32.779999  32.580002  32.650002  28.051130  525100
2  2015-07-06  32.419998  32.580002  32.369999  32.439999  27.870707  401900
3  2015-07-07  32.150002  32.250000  31.820000  32.240002  27.698879  393800
4  2015-07-08  31.620001  31.620001  30.980000  31.040001  26.667904  587500
HMC
data\ITUB.csv
         Date      Open      High       Low     Close  Adj Close    Volume
0  2015-07-01  6.666667  6.678788  6.563636  6.593939   5.124426  14236500
1  2015-07-02  6.666667  6.812121  6.666667  6.787879   5.275146  13657300
2  2015-07-06  6.539394  6.624242  6.472727  6.509091   5.058488  15731200
3  2015-07-07  6.418182  6.472727  6.284849  6.466667   5.025516  18106000
4  2015-07-08  6.357576  6.375758  6.260606  6.272727   4.874799  19247200
ITUB
data\JPHLF.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-12-11  16.299999  16.299999  16.299999  16.299999 -35.463943     120
1  2015-12-14  16.299999  16.299999  16.299999  16.299999 -35.463943       0
2  2015-12-15  16.299999  16.299999  16.299999  16.299999 -35.463943       0
3  2015-12-16  16.299999  16.299999  16.299999  16.299999 -35.463943       0
4  2015-12-17  16.299999  16.299999  16.299999  16.299999 -35.463943       0
JPHLF
data\JPM.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  68.120003  68.389999  67.779999  68.070000  59.492443  13964400
1  2015-07-02  67.949997  68.129997  67.190002  67.519997  59.011749  12822900
2  2015-07-06  66.879997  67.459999  66.540001  67.330002  58.845680  13527100
3  2015-07-07  67.089996  67.220001  65.300003  66.800003  58.382473  22421500
4  2015-07-08  66.000000  66.160004  65.209999  65.430000  57.185120  17707200
JPM
data\KEP.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-07-01  20.760000  20.770000  20.459999  20.469999  17.934153  262400
1  2015-07-02  20.650000  20.719999  20.590000  20.690001  18.126900  367900
2  2015-07-06  20.700001  20.969999  20.629999  20.709999  18.144421  273500
3  2015-07-07  20.450001  20.700001  20.200001  20.590000  18.039288  392500
4  2015-07-08  20.700001  20.700001  20.510000  20.549999  18.004240  268700
KEP
data\KR.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  36.544998  36.735001  36.320000  36.615002  33.471310  6849600
1  2015-07-02  36.715000  36.849998  36.430000  36.555000  33.416458  3868200
2  2015-07-06  36.395000  36.904999  36.380001  36.785000  33.626720  5766600
3  2015-07-07  36.950001  37.799999  36.750000  37.695000  34.458588  9252000
4  2015-07-08  37.535000  37.805000  37.275002  37.575001  34.348881  7201400
KR
data\LFC.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  21.639999  21.670000  21.209999  21.260000  19.550674   557600
1  2015-07-02  21.459999  21.570000  21.230000  21.299999  19.587460   433100
2  2015-07-06  20.549999  20.700001  20.410000  20.459999  18.814997   642100
3  2015-07-07  19.340000  19.490000  18.950001  19.389999  17.831026  1261300
4  2015-07-08  18.480000  18.500000  18.040001  18.100000  16.644743  1697500
LFC
data\LMT.csv
         Date        Open        High         Low       Close   Adj Close  \
0  2015-07-01  186.009995  188.289993  186.009995  188.169998  165.011078
1  2015-07-02  188.710007  188.789993  186.759995  187.300003  164.248184
2  2015-07-06  186.729996  188.479996  186.419998  187.990005  164.853241
3  2015-07-07  188.570007  190.279999  187.539993  190.160004  166.756180
4  2015-07-08  188.509995  191.330002  188.289993  190.050003  166.659714

    Volume
0   950000
1  1024500
2   902600
3  1328500
4  1528200
LMT
data\LUKOY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-07-01  44.110001  44.110001  43.590000  43.590000  29.801197   53900
1  2015-07-02  43.860001  44.340000  43.860001  44.299999  30.286612   76500
2  2015-07-06  43.340000  43.520000  42.980000  43.139999  29.493546   60600
3  2015-07-07  42.980000  43.820000  42.590000  43.820000  29.958450  138500
4  2015-07-08  42.919998  43.119999  42.669998  42.820000  29.274776   93400
LUKOY

data\MSBHY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-07-01  43.990002  44.160000  43.990002  44.099998  37.628399   40800
1  2015-07-02  44.330002  44.450001  44.330002  44.450001  37.927036    1300
2  2015-07-06  44.450001  44.450001  44.450001  44.450001  37.927036       0
3  2015-07-07  43.599998  43.790001  43.599998  43.790001  37.363888    2100
4  2015-07-08  41.799999  42.360001  41.799999  42.060001  35.887764    4200
MSBHY
data\MSFT.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  44.459999  45.230000  44.099998  44.450001  40.228317  28343900
1  2015-07-02  44.480000  44.750000  44.060001  44.400002  40.183064  21752000
2  2015-07-06  43.959999  44.480000  43.950001  44.389999  40.174019  23034000
3  2015-07-07  44.340000  44.490002  43.320000  44.299999  40.092571  36435800
4  2015-07-08  44.439999  44.900002  44.029999  44.240002  40.038265  39785900
MSFT
data\OGZPY.csv
         Date  Open  High   Low  Close  Adj Close  Volume
0  2015-07-01  5.25  5.26  5.16   5.17   3.153786  180600
1  2015-07-02  5.23  5.27  5.22   5.22   3.184287  380900
2  2015-07-06  5.04  5.05  4.96   4.98   3.037883  583500
3  2015-07-07  4.99  5.05  4.88   5.04   3.074484  669900
4  2015-07-08  4.88  4.91  4.84   4.86   2.964682  345200
OGZPY
data\PFE.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  33.560001  33.860001  33.410000  33.689999  28.051245  28218500
1  2015-07-02  33.740002  34.439999  33.349998  33.369999  27.784803  22627200
2  2015-07-06  33.299999  33.639999  33.080002  33.250000  27.684891  20992400
3  2015-07-07  33.340000  33.840000  33.150002  33.730000  28.084551  25852800
4  2015-07-08  33.549999  33.730000  33.389999  33.450001  27.851418  20209900
PFE
data\PSX.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  80.639999  81.860001  80.519997  81.300003  68.998497  3779600
1  2015-07-02  81.470001  82.180000  81.000000  81.449997  69.125801  3388900
2  2015-07-06  80.389999  81.790001  79.750000  81.540001  69.202164  3978700
3  2015-07-07  81.980003  82.629997  79.919998  82.349998  69.889610  4170700
4  2015-07-08  81.849998  81.860001  78.059998  78.500000  66.622154  4513100
PSX
data\RWEOY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-07-01  21.450001  21.510000  21.299999  21.360001  18.723177   26400
1  2015-07-02  22.530001  22.620001  22.459999  22.620001  19.827635   22200
2  2015-07-06  21.370001  21.520000  21.200001  21.320000  18.688112   86000
3  2015-07-07  20.910000  21.430000  20.879999  21.370001  18.731943   51000
4  2015-07-08  21.200001  21.340000  21.100000  21.250000  18.626755   15200
RWEOY
data\SCGLY.csv
         Date  Open  High   Low  Close  Adj Close  Volume
0  2015-07-01  9.60  9.62  9.48   9.56   7.434727   69000
1  2015-07-02  9.48  9.48  9.40   9.47   7.364735  103500
2  2015-07-06  8.88  9.06  8.83   8.92   6.937005  156400
3  2015-07-07  8.73  9.01  8.62   8.98   6.983665  100400
4  2015-07-08  8.80  8.84  8.72   8.75   6.804797  162300
SCGLY
data\VLO.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  63.090000  64.970001  62.799999  64.470001  53.001839   9035100
1  2015-07-02  64.680000  65.680000  64.279999  64.720001  53.207367   6007700
2  2015-07-06  64.139999  65.699997  63.599998  65.339996  53.717072   7291300
3  2015-07-07  65.370003  66.139999  63.849998  64.650002  53.149818  11268900
4  2015-07-08  64.059998  65.480003  63.360001  63.980000  52.598995   7221100
VLO
data\VZ.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-01  46.639999  47.110001  46.570000  47.000000  37.528076  12545900
1  2015-07-02  47.230000  47.380001  47.110001  47.200001  37.687759   9872400
2  2015-07-06  47.060001  47.139999  46.799999  47.040001  37.560009  12051700
3  2015-07-07  47.220001  47.450001  46.830002  47.250000  37.727692  18025800
4  2015-07-08  46.580002  46.830002  46.299999  46.580002  37.630745  17859600
VZ
data\WBA.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-07-01  85.080002  85.860001  84.849998  85.769997  75.987053  2834900
1  2015-07-02  86.089996  86.279999  85.639999  85.809998  76.022514  2811700
2  2015-07-06  84.930000  85.849998  84.730003  85.389999  75.650414  3238300
3  2015-07-07  85.610001  87.610001  85.449997  87.250000  77.298264  4780600
4  2015-07-08  86.709999  86.989998  85.419998  85.910004  76.111099  4139400
WBA
data\WFAFY.csv
         Date   Open   High    Low  Close  Adj Close  Volume
0  2015-07-01  14.98  15.15  14.98  15.00   8.223449   20700
1  2015-07-02  15.23  15.23  15.20  15.21   8.338575    9000
2  2015-07-06  14.84  14.87  14.70  14.72   8.069944    4400
3  2015-07-07  14.80  15.01  14.69  15.01   8.228931   18900
4  2015-07-08  14.91  14.91  14.52  14.52   7.960299   12500
WFAFY

ticker       58940
date         58940
open         58934
high         58934
low          58934
close        58934
adj_close    58934
volume       58934
dtype: int64